<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <a href="/create">Buat Data</a><br><br>
        <table border="5">
            <thead>
                <tr>
                    <th>Judul Anime</th>
                    <th>Studio</th>
                    <th>Musim Rilis</th>
                    <th>Tanggal Rilis</th>
                    <th>Gambar</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% 
                function digit(r) {
                        if (0 <= r && r < 10) return "0" + r.toString()
                        if (-10 < r && r < 0) return "-0" + (-1*r).toString()
                    return r.toString()
                }
                data.forEach(as => {
                    var tgl = new Date(as.tanggal_rilis)
                    var format = tgl.getFullYear()+"-"+digit(tgl.getMonth())+"-"+digit(tgl.getDate())
                    %>
                <tr>
                    <td><%= as.judul_anime%></td>
                    <td><%= as.studio%></td>
                    <td><%= as.musim_rilis%></td>
                    <td><%= format%></td>
                    <td><img width="100" height="100" src="/upload/<%= as.gambar%>" alt=""></td>
                    <td>
                        <a href="/edit/<%= as.id_anime%>">Edit Data</a><br><br>
                        <a href="/delete/<%= as.id_anime%>">Hapus Data</a><br><br>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>    
</body>
</html>